@charset "utf-8";
.myself{
	padding-top: 6%;
}
.myself-main{
	line-height: 3.4rem;
}
.myself-main p,
.myself-main h1{
	color: #fff;
}
.myself-main h1{
	font-size: 5rem;
}
.myself-main p:nth-child(1){
	font-size: 2rem;
}
.myself-main p.text{
	font-size: 2.8rem;
}
.myself .myself-bottom{
	padding-top: 2rem;
}
.myself .myself-bottom a{
	display: inline-block;
	width: 12rem;
	height: 3.6rem;
	line-height: 3.6rem;
	text-align: center;
	color: #fff;
	font-size: 1.4rem;
	border-radius: 2rem;
 	background: #ff4081;
}
.myself .myself-bottom a:hover{
	text-decoration: none;
	background: rgba(255,64,129,.8);
}
 .myself .myself-bottom a:first-child{
 	margin-right: 3%;
 }
 img.my-pic{
 	width: 100%;
 	height: auto;
 }
 /*about css*/
.about h1,
.works h1,
.experience h1,
.contact h1{
	font-size: 3rem;
	padding-bottom: 2rem;
	text-align: center;
}
.about .my-info{
 	padding-top: 1.2rem;
 	line-height: 2rem;
 }
 ul.skills-progress{
 	width: 100%;
 	padding-left: 0;
 	margin-left: 0;
 	clear: all;
 	overflow: hidden;
 }
  ul.skills-progress li{
  	float: left;
  	width: 100%;
  	list-style: none;
 	margin-top: 1.4rem;
 }
 .progress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: .8rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: 6rem;
}
 .progress-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    background-color: #000;
    transition: width .6s ease;
}
.right-top p{
	line-height: 1.8rem;
}
.works ul{
	clear: all;
	overflow: hidden;
}
.works ul li{
	width: 100%;
	margin-bottom: 2rem;
	float: left;
	list-style: none;
}
.works ul li img{
	width: 100%;
	height: auto;
}
.experience .row div{
	margin-bottom: 1.6rem;
}
.experience .row div img{
	width: 100%;
	height: auto;
	padding-top: 3%;
	padding-bottom: 3%;
}
.copy-right p{
	color: #fff;
	text-align: center;
}
.contact{
	clear: all;
	overflow: hidden;
}
.contact-box{
	width: 1140px;
	background: #fff;
	border-radius: .6rem;
	padding: 3%;
	box-shadow: 0px 3px 8px rgba(0,0,0,.1);
	clear: all;
	overflow: hidden;
}
.contact-box .fr{
	float: right;
}
.contact-box p{
	padding-top: 1rem;
}
.contact-box input{
	width: 80%;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: left;
	border-bottom: 1px solid #000;
}
@media(max-width:640px){
.myself{
	padding-top: 4%;
}
.myself-main h1{
	font-size: 4rem;
}
.myself-main{
	line-height: 1rem;
}
.myself-main p:nth-child(1){
	font-size: 1rem;
}
.myself-main p.text{
	font-size: 1rem;
}
.myself .myself-bottom{
	padding-top: 1.4rem;
}
.myself .myself-bottom a{
	display: inline-block;
	width: 6rem;
	height: 2.4rem;
	line-height: 2.4rem;
	text-align: center;
	font-size: .8rem;
	color: #fff;
	border-radius: 2rem;
 	background: #ff4081;
 }
}